.single-album {
  border: 1px solid transparent;
  cursor: pointer;
  width: 170px;
  height: 320px;
  background-color: #04072034;

  &:hover {
    border: 1px solid #ccc;
  }

  img {
    width: 130px;
  }

  hr {
    width: 50px;
    margin: 0 auto;
  }
}
