@import "@/style/variabiles.scss";

.single-album {
  border: 1px solid transparent;
  cursor: pointer;
  width: 170px;
  height: 320px;
  background-color: $bg-dark-color;

  &:hover {
    border: 1px solid #ccc;
  }

  img {
    width: 130px;
  }
}
