.single-album {
  border: 1px solid transparent;
  cursor: pointer;
  width: 80%;
  height: 320px;
  background-color: #32323248;

  &:hover {
    border: 1px solid #ccc;
  }

  img {
    width: 150px;
  }

  hr {
    width: 50px;
    margin: 0 auto;
  }
}
